.products-homepage {
    width: 350px;
    height: 400px;
    margin: 50px;
    display: inline-block;
    grid-template-rows: auto 1fr auto;
    flex-wrap: wrap;
    padding: 30px;
}

.navbar {
    background-color: black;
    height: 270px;
}
.h1-homepage {
    color: white;
    margin-left: 20px;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: white;
}

/*Contact page*/
.contact-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.contact-container {
    margin-top: 36px;
    width: 40%;
    background-color: white;
}
.contact-header {
    font-size: 72px;
    text-align: center;
}
.contact-input {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 30px;
    height: 50px;
}
.contact-form {
    margin-top: 40px;
}
.contact-textarea {
    width: 100%;
    border-radius: 12px;
    height: 200px;
}
.contact-select {
    height: 50px;
    background: white;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 12px;
}
.contact-submit {
    height: 50px;
    border-radius: 12px;
    width: 60%;
    display: block;
    margin: 25px auto;
    background-color: turquoise;
    color: white;
}
