#container {
    background-color: rgb(196, 54, 196);
}

.products-homepage {
    width: 500px;
    height: 500px;
    margin: 50px;
    display: inline-block;
    grid-template-rows: auto 1fr auto;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 0px;
}

.navbar {
    background-color: #4ed8cc;
    height: 180px;
}
.h1-homepage {
    color: white;
    margin-left: 10px;
}
.product-name {
    text-align: center;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: white;
}

/*Contact page*/
.success-contact {
    text-align: center;
    background-color: green;
    color: white;
}
.contact-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.contact-container {
    margin-top: 36px;
    width: 40%;
    background-color: white;
}
.contact-header {
    font-size: 72px;
    text-align: center;
}
.contact-input {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 30px;
    height: 50px;
}
.contact-form {
    margin-top: 40px;
}
.contact-textarea {
    width: 100%;
    border-radius: 12px;
    height: 200px;
}
.contact-select {
    height: 50px;
    background: white;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 12px;
}
.contact-submit {
    height: 50px;
    border-radius: 12px;
    width: 60%;
    display: block;
    margin: 25px auto;
    background-color: black;
    color: white;
}

/*Shopping cart*/
.h5 {
    margin: 30px;
}
.shoppingcart-form {
    margin: 30px;
}
.total-allproducts {
    margin: 30px;
}
.totalAll {
    margin: 30px;
    background-color: green;
}

.gotoPaymentButton {
    height: 50px;
    border-radius: 12px;
    width: 35%;
    display: block;
    margin: 25px auto;
    background-color: black;
    color: white;
}

/*footer*/

.footer-homepage a {
    color: 'white';
   
}
.footer-homepage {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
